    /* backround */
    body {
        background-color: #4942E4 !important;
    }

    /* remove arrow form input */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* remove underline from a tag */
    #gotoHome,
    a:link {
        text-decoration: none;
    }

    /* tablet responsive size */
    @media screen and (max-width:769px) {
        .custom-col {
            max-width: 500px;
        }
    }